<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="id=edge"/>
    <title><%= title %></title>

    <style>
    body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      max-width: 850px;
      margin: auto;
      background-color: #f5f5f5;
    }
    a {
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */
    }
    a.clickable-row {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
    .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #fff;
      margin-bottom: 2px;
      border-radius: 4px;
    }
    .row:hover {
      background-color: #eee;
    }
    .row img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      margin-right: 20px;
    }
    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .row-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
    }
    .row-subtitle {
      font-size: 12px;
      color: #999;
    }
    .button {
      background-color: #006fc8;
      color: #ffffff;
      padding: 15px;
      margin-left: 8px;
    }
    .button:hover {
      background-color: #00599f;
    }
    .nav-header {
      margin-bottom: 21px;
    }
    .nav-header h1 {
      margin-bottom: 0;
    }
    .nav-header a {
      color: #006fc8;
    }
    .nav-header a:hover {
      color: #00599f;
      text-decoration: underline;
    }
    </style>
</head>
<body>
    
    <!-- content block-->